@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  transition: all 0.35s linear;
}

/* configurações principais */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  --bg: black;
  background-color: var(--bg);
  color: white;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("img/Doom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center-bottom;
}

/* div principal */
.player {
  width: 640;
  background-color: #000;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-gap: 16px;
  padding: 8px 24px;
  position: relative;
  border-radius: 64px;
}

.texto h1 {
  text-align: center;
  font-size: 22px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.control,
#current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

#playbtn {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  cursor: pointer;
}

#playbtn:hover {
  -webkit-text-fill-color: white;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

#current {
  text-align: right;
}

.bar {
  --space: -4px;
  background-color: #242424;
  overflow: hidden;
  left: var(--space);
  right: var(--space);
  top: var(--space);
  bottom: var(--space);
  position: absolute;
  border-radius: 64px;
  z-index: -2;
}

#progress {
  display: block;
  width: var(--progress, 0%);
  background-color: white;
  transition: all 1s linear;
  height: 100%;
}


@media (max-width: 425px) {
  .player {
    width: 90%;
    text-align: center;
  }

  body {
    flex-direction: column;
  }
}